# fly.toml app configuration file for tracker-front-k8nyza
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tracker-front-k8nyza'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'
  [build.args]
    VITE_API_URL = 'https://tracker-api-yhorca.fly.dev'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '5s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
