# Fly.io configuration for Tracker Frontend

app = 'tracker-front-k8nyza'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'
  [build.args]
    VITE_API_URL = 'https://tracker-api-yhorca.fly.dev'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024